$primary-color : #282828;
$primary-color-light : lighten($primary-color, 2%);

#header {
    background: darken($primary-color, 12%);
    color: #FFFFFF;
    a:hover, a:focus {
        color: white;
        border-bottom-color: white;
    }
}

.module h2, .module caption, .inline-group h2 {
    background: $primary-color-light;
}

div.breadcrumbs {
    background: $primary-color-light;
}

#changelist-filter li {
    &.selected{
        border-left-color: $primary-color;
    }
    a:hover, a:focus, &.selected a {
        color: $primary-color;
        &:hover, &:focus {
            color: darken($primary-color, 8%);
        }
    }
}

.object-tools a:link, .object-tools a:visited {
    &:hover, &:focus {
        background-color: $primary-color;
    }
}

fieldset.collapsed .collapse-toggle {
    color: $primary-color;
}

.form-row input:focus,
.form-row select:focus,
#changelist .actions select:focus,
#changelist #toolbar form #searchbar:focus,
.form-row textarea:focus {
    border-color: $primary-color;
    outline: none;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: $primary-color;
    &:hover, &:focus {
        background: darken($primary-color, 8%);
    }
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: lighten($primary-color, 8%);
    &:hover, &:focus {
        background: $primary-color;
    }
}

.admin_shortcuts .shortcuts {
    background: darken($primary-color, 5%);
    li a {
        border-color: $primary-color;
        background: $primary-color;
        &:hover, &:focus{
            background: lighten($primary-color, 5%);
            border-color: lighten($primary-color, 5%);
        }
    }
}

.paginator a {
    &:link, &:visited{
        background: $primary-color;
    }
    &:hover, &:focus {
        background: darken($primary-color, 8%);
    }
}

.paginator a.showall {
    color: $primary-color;
    background: none;
    &:hover, &:focus {
        color: darken($primary-color, 8%);
        background: none;
    }
}
