#header {
  background: #3f1b72;
  color: #FFFFFF;
}
#header a:hover, #header a:focus {
  color: white;
  border-bottom-color: white;
}

.module h2, .module caption, .inline-group h2 {
  background: #6029ab;
}

div.breadcrumbs {
  background: #6029ab;
}

#changelist-filter li.selected {
  border-left-color: #5B27A3;
}
#changelist-filter li a:hover, #changelist-filter li a:focus, #changelist-filter li.selected a {
  color: #5B27A3;
}
#changelist-filter li a:hover:hover, #changelist-filter li a:hover:focus, #changelist-filter li a:focus:hover, #changelist-filter li a:focus:focus, #changelist-filter li.selected a:hover, #changelist-filter li.selected a:focus {
  color: #491f82;
}

.object-tools a:link:hover, .object-tools a:link:focus, .object-tools a:visited:hover, .object-tools a:visited:focus {
  background-color: #5B27A3;
}

fieldset.collapsed .collapse-toggle {
  color: #5B27A3;
}

.form-row input:focus,
.form-row select:focus,
#changelist .actions select:focus,
#changelist #toolbar form #searchbar:focus,
.form-row textarea:focus {
  border-color: #5B27A3;
  outline: none;
}

.button.default, input[type=submit].default, .submit-row input.default {
  background: #5B27A3;
}
.button.default:hover, .button.default:focus, input[type=submit].default:hover, input[type=submit].default:focus, .submit-row input.default:hover, .submit-row input.default:focus {
  background: #491f82;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #6d2fc4;
}
.button:hover, .button:focus, input[type=submit]:hover, input[type=submit]:focus, input[type=button]:hover, input[type=button]:focus, .submit-row input:hover, .submit-row input:focus, a.button:hover, a.button:focus {
  background: #5B27A3;
}

.admin_shortcuts .shortcuts {
  background: #50228e;
}
.admin_shortcuts .shortcuts li a {
  border-color: #5B27A3;
  background: #5B27A3;
}
.admin_shortcuts .shortcuts li a:hover, .admin_shortcuts .shortcuts li a:focus {
  background: #662cb8;
  border-color: #662cb8;
}

.paginator a:link, .paginator a:visited {
  background: #5B27A3;
}
.paginator a:hover, .paginator a:focus {
  background: #491f82;
}

.paginator a.showall {
  color: #5B27A3;
  background: none;
}
.paginator a.showall:hover, .paginator a.showall:focus {
  color: #491f82;
  background: none;
}

/*# sourceMappingURL=pxadmin.css.map */
